- breadcrumb :teachers
= link_to t('shared.add_new_item'), new_teacher_path, class: 'btn btn-default'
%table.table.table-condensed
  %thead
    %tr
      %th= t('teacher.columns.first_name')
      %th= t('teacher.columns.last_name')
      %th= t('teacher.columns.academic_title')
      %th= t('shared.actions')
  %tbody
    = render teachers
