.row
  .col-xs-4.col-xs-offset-4
    %h2 Log in
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, autofocus: true
        = f.input :password
        = f.input_field :remember_me, as: :boolean
        %b Remember me
      .form-actions
        = f.button :submit, "Log in"
    = render "devise/shared/links"
